label[b-ldlrldm3bq] {
    text-align: left;
    display: block;
}

.reservationFinder[b-ldlrldm3bq] {
    text-align: center;
    display: flex;
    margin-bottom: 50px;
}

.reservationFinderInput[b-ldlrldm3bq] {
    width: 250px;
    margin-right: 20px;
}

.reservationFinderButton[b-ldlrldm3bq] {
    width: 190px;
    height: 30px;
    margin-top: 25px;
}

.reserveButton[b-ldlrldm3bq] {
    margin: auto;
    margin-top: 30px;
    width: 200px;
    height: 30px;
}

.h3[b-ldlrldm3bq] {
    align-self: center;
    margin-top: 50px;
}

.reservationFinderDropdown[b-ldlrldm3bq] {
    border: 1px solid #808080;
    width: 1000px;
    padding: 2px;
    text-align: left;
}

.pageSize[b-ldlrldm3bq] {
    width: 1000px;
}

