@page "/flights"

<!--  --------------------------------------  FLIGHT FINDER  ----------------------------------------  !-->

<h3>Flight Finder</h3>
<div class="flightFinder">
    <div>
        <label>From:</label>
        <p><input class="flightFinderInput" placeholder="Any" /></p> <!-- @argument to search !-->
    </div>
    <div>
        <label>To:</label>
        <p><input class="flightFinderInput" placeholder="Any" /></p> <!-- @argument to search !-->
    </div>
    <div>
        <label>Day:</label>
        <p><input class="flightFinderInput" placeholder="Any" /></p> <!-- @argument to search !-->
    </div>
    <button class="flightFinderButton">Find flights</button>
</div>

<!--  ------------------------------------------  FLIGHTS  ------------------------------------------  !-->

<h3>Flights</h3>



<div class="flightFinder">
    <select class="pageSize" id="dropdown" name="flightOptions">
        <!-- @FlightListToOptionXAML -->
        <option value="option1">Option 1</option> <!-- value should be the object itself found from the search method -->
        <option value="option3">Option 3</option>
    </select>
</div>





<!--  ------------------------------------------  RESERVE  ------------------------------------------  !-->

<h3 class="mainHeader">Reserve</h3>
<div>
    <label>Flight code:</label>
    <input class="pageSize" placeholder="Flight" disabled />
    <label>Airline:</label>
    <input class="pageSize" placeholder="Airline" disabled />
    <label>Day:</label>
    <input class="pageSize" placeholder="Day" disabled />
    <label>Time:</label>
    <input class="pageSize" placeholder="Time" disabled />
    <label>Cost:</label>
    <input class="pageSize" placeholder="Cost" disabled />
    <label>Name:</label>
    <input class="pageSize" placeholder="Name" />
    <label>Citizenship:</label>
    <input class="pageSize" placeholder="Citizenship" />
</div>
<button class="reserveButton">Reserve</button>
<div style="margin-top: 30px;">Reservation Code: <!-- @Flight.code --> </div>




@code {

}
